# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.DS_Store
logs/
instance/
*.log
*.sqlite3

# Node.js (React)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/
.cache/

# IDE/Editor
.vscode/
.idea/